*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}

.image-gallery {
    display: grid;
    min-height: 100vh;
    margin: 0 auto;
    grid-template:
        "1fr 1fr 1fr 1fr"30vw "1fr 1fr 1fr 1fr"30vw "1fr 1fr 1fr 1fr"30vw "1fr 1fr 1fr 1fr"30vw;
    grid-auto-flow: dense;
    grid-gap: 1rem;
    padding: 1rem;
}

.img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.image-gallery__image--1 {
    grid-column: span 1;
}

.image-gallery__image--2 {
    grid-column: span 2;
}

.image-gallery__image--3 {
    grid-column: span 2;
}

.image-gallery__image--4 {
    grid-row: span 2;
}

.image-gallery__image--5 {
    grid-column: span 1;

}

.image-gallery__image--8 {
    grid-column: span 1;
}

.image-gallery__image--7 {
    grid-column: span 2;
    grid-row: span 2;
}

.image-gallery__image--6 {
    grid-column: span 1;
    grid-row: span 2;
}

.image-gallery__image--9 {
    grid-column: span 1;
    grid-row: span 1;
}

@media only screen and (max-width: 650px) {
    .image-gallery {
        grid-template:
            "1fr 1fr"50vw "1fr 1fr"50vw "1fr 1fr"50vw "1fr 1fr"50vw "1fr 1fr"50vw "1fr 1fr"50vw "1fr 1fr"50vw "1fr 1fr"50vw;

    }

    .image-gallery__image--4 {
        object-position: 50% 85%;
    }

    .image-gallery__image--5 {
        object-position: 50% 25%;
    }

    .image-gallery__image--6 {
        object-position: 50% 65%;
    }

    .image-gallery__image--2 {
        object-position: 50% 25%;
    }
}

@media only screen and (max-width: 425px) {
    .image-gallery {
        grid-template:
            "1fr"40vh "1fr"40vh "1fr"40vh "1fr"40vh "1fr"40vh "1fr"50vh "1fr"40vh "1fr"40vh "1fr"40vh;
    }

    .image-gallery__image--2 {
        grid-column: span 1;
    }

    .image-gallery__image--3 {
        grid-column: span 1;
    }

    .image-gallery__image--4 {
        grid-row: span 1;
    }

    .image-gallery__image--7 {
        grid-column: span 1;
        grid-row: span 1;
    }

    .image-gallery__image--6 {
        grid-column: span 1;
        grid-row: span 1;
    }

    .image-gallery__image--5 {
        object-position: 50% 35%;
    }

}